<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>BURNT DONUT</title>
    </div>
</head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body style="z-index:0">
<div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="row justify-content-around" style="padding-top:5%;width:80%">
        <div class="individualCard row" style="margin-left:10px;margin-right:10px;">
            <img src="/static/images/burnt_donut.png" th:src="@{/images/burnt_donut.png}"
                 class="individualImgSquareCrop listMenuImg">
            <div style="padding-top:20px">
                <p class="cardTitle">BURNT DONUT</p>
                <div class="row">
                    <p class="reviewScoreText" style="padding-right:20px">4.2</p>
                    <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                    <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                    <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                    <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                    <i style="color:var(--grey); font-size:20px" class="fa fa-star"></i>
                </div>
                <div style="width:200px;overflow-wrap: break-word;" class="row">
                    <p class="text">Man, this donut was overcooked, but it sure tasted good!</p>
                </div>
            </div>
        </div>
        <div class="listMenuCard row" style="margin-left:10px;margin-right:10px;padding:20px">
            <div style="padding-top:5px">
                <div class="row">
                    <p class="cardTitle">ADD A REVIEW</p>
                    <div style="margin-top:15px; margin-left:25px">
                    </div>

                    </div>
                </div>
                <div>
                        <form action="#" th:action="@{/sql/donutcreate}" th:object="${donut}" method="POST">
                            <div class="stars">
                                <input class="star star-5" id="star-5" type="radio" name="star"/>
                                <label class="star star-5" for="star-5"></label>
                                <input class="star star-4" id="star-4" type="radio" name="star"/>
                                <label class="star star-4" for="star-4"></label>
                                <input class="star star-3" id="star-3" type="radio" name="star"/>
                                <label class="star star-3" for="star-3"></label>
                                <input class="star star-2" id="star-2" type="radio" name="star"/>
                                <label class="star star-2" for="star-2"></label>
                                <input class="star star-1" id="star-1" type="radio" name="star"/>
                                <label class="star star-1" for="star-1"></label>
                            </div>
                            <p style="padding-bottom:10px;"><input class="reviewInput" type="text" th:field="*{donuttype}" placeholder="Type of donut!" size="53"></p>
                            <p style="padding-bottom:10px;"><input class="reviewInput" type="text" th:field="*{place}" placeholder="Donut place!" size="53"></p>
                            <p style="padding-bottom:10px;"><input class="reviewInput" type="date" th:field="*{date}"></p>
                            <p style="padding-bottom:10px;"><input class="reviewInput" type="text" th:field="*{comment}" placeholder="Leave your thoughts here!" size="53"></p>
                            <p><input class="reviewSubmit" type="submit" value="SUBMIT"></p>
                        </form>
                </div>
            </div>
        </div>
    </div>

    <div style="padding-top:15px">
        <center>
            <h1 style="padding-left:20px; padding-top:20px" class="listMenuTitle">REVIEWS</h1>
            <div class="row justify-content-around" style="width:50%; padding-top:15px">
                <div class="freeWidthMenuCard" style="padding:10px; width:500px">
                    <div class="row">
                        <p style="margin-left:10px" class="cardTitle">JOHN DOE</p>
                        <div style="margin-top:15px; margin-left:25px">
                            <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--grey); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--grey); font-size:20px" class="fa fa-star"></i>
                        </div>
                    </div>
                    <p style="margin-top:15px; margin-left:10px" class="reviewScoreText">
                        The flavor was exquisite but I wasn't a fan of the color.
                    </p>
                </div>
                <div class="freeWidthMenuCard" style="padding:10px; width:500px">
                    <div class="row">
                        <p style="margin-left:10px" class="cardTitle">JOHN DOE</p>
                        <div style="margin-top:15px; margin-left:25px">
                            <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--grey); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--grey); font-size:20px" class="fa fa-star"></i>
                        </div>
                    </div>
                    <p style="margin-top:15px; margin-left:10px" class="reviewScoreText">
                        The flavor was exquisite but I wasn't a fan of the color.
                    </p>
                </div>
            </div>

            <div class="row justify-content-around" style="width:50%; padding-top:15px">
                <div class="freeWidthMenuCard" style="padding:10px; width:500px">
                    <div class="row">
                        <p style="margin-left:10px" class="cardTitle">JOHN DOE</p>
                        <div style="margin-top:15px; margin-left:25px">
                            <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--grey); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--grey); font-size:20px" class="fa fa-star"></i>
                        </div>
                    </div>
                    <p style="margin-top:15px; margin-left:10px" class="reviewScoreText">
                        The flavor was exquisite but I wasn't a fan of the color.
                    </p>
                </div>
                <div class="freeWidthMenuCard" style="padding:10px; width:500px">
                    <div class="row">
                        <p style="margin-left:10px" class="cardTitle">JOHN DOE</p>
                        <div style="margin-top:15px; margin-left:25px">
                            <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--grey); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--grey); font-size:20px" class="fa fa-star"></i>
                        </div>
                    </div>
                    <p style="margin-top:15px; margin-left:10px" class="reviewScoreText">
                        The flavor was exquisite but I wasn't a fan of the color.
                    </p>
                </div>
            </div>

        </center>
    </div>

    <!-- End of body content specific to page -->
</div>
</body>

</html>