<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>BURNT DONUT</title>
    </div>
</head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body style="z-index:0">
<div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="row justify-content-around" style="padding-top:5%;width:80%">
        <div class="individualCard row" style="margin-left:10px;margin-right:10px;">
            <img src="/static/images/burnt_donut.png" th:src="@{/images/burnt_donut.png}"
                 class="individualImgSquareCrop listMenuImg">
            <div style="padding-top:20px">
                <p class="cardTitle">BURNT DONUT</p>
                <div class="row">
                    <p class="reviewScoreText" style="padding-right:20px">4.2</p>
                    <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                    <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                    <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                    <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                    <i style="color:var(--grey); font-size:20px" class="fa fa-star"></i>
                </div>
                <div style="width:200px;overflow-wrap: break-word;" class="row">
                    <p class="text">Man, this donut was overcooked, but it sure tasted good!</p>
                </div>
            </div>
        </div>
        <div class="listMenuCard row" style="margin-left:10px;margin-right:10px;padding:20px">
            <div style="padding-top:5px">
                <div class="row">
                    <p class="cardTitle">ADD A REVIEW</p>
                    <div style="margin-top:15px; margin-left:25px">
                    </div>

                    </div>
                </div>
                <div>
                        <form action="#" th:action="@{/sql/donutcreate}" th:object="${donut}" method="POST">
                            <div class="stars">
                                <label for="radio1" class="star"><i id="reviewStar1" onclick="clickStar('reviewStar1')" style="color:var(--grey); font-size:30px" class="fa fa-star"></i></label>
                                <input class="star" style="visibility: hidden" id="radio1" name="reviewRadio" type="radio">
                                <label for="radio2" class="star"><i id="reviewStar2" onclick="clickStar('reviewStar2')" style="color:var(--grey); font-size:30px" class="fa fa-star"></i></label>
                                <input class="star" style="visibility: hidden" id="radio2" name="reviewRadio" type="radio">
                                <label for="radio3" class="star"><i id="reviewStar3" onclick="clickStar('reviewStar3')" style="color:var(--grey); font-size:30px" class="fa fa-star"></i></label>
                                <input class="star" style="visibility: hidden" id="radio3" name="reviewRadio" type="radio">
                                <label for="radio4" class="star"><i id="reviewStar4" onclick="clickStar('reviewStar4')" style="color:var(--grey); font-size:30px" class="fa fa-star"></i></label>
                                <input class="star" style="visibility: hidden" id="radio4" name="reviewRadio" type="radio">
                                <label for="radio5" class="star"><i id="reviewStar5" onclick="clickStar('reviewStar5')" style="color:var(--grey); font-size:30px" class="fa fa-star"></i></label>
                                <input class="star" style="visibility: hidden" id="radio5" name="reviewRadio" type="radio">
                            </div>
                            <p style="padding-bottom:10px;"><input class="reviewInput" type="text" th:field="*{donuttype}" placeholder="donut name" size="53"></p>
                            <p style="padding-bottom:10px;"><input class="reviewInput" type="text" th:field="*{place}" placeholder="Donut place!" size="53"></p>
                            <p style="padding-bottom:10px;"><input class="reviewInput" type="date" th:field="*{date}"></p>
                            <p style="padding-bottom:10px;"><input class="reviewInput" type="text" th:field="*{comment}" placeholder="Leave your thoughts here!" size="53"></p>
                            <p><input class="reviewSubmit" style="width:455px" type="submit" value="SUBMIT"></p>
                        </form>
                    <script>
                        function clickStar(id)
                        {
                            if(id === 'reviewStar1') {
                                clearStars()
                                fillStars(1)
                            } else if (id === 'reviewStar2'){
                                clearStars()
                                fillStars(2)
                            } else if (id === 'reviewStar3'){
                                clearStars()
                                fillStars(3)
                            } else if (id === 'reviewStar4'){
                                clearStars()
                                fillStars(4)
                            } else if (id === 'reviewStar5'){
                                clearStars()
                                fillStars(5)
                            }
                        }

                        function clearStars() {
                            for (let i = 1; i <= 5; i++) {
                                document.getElementById('reviewStar'+i).style.color = 'var(--grey)';
                            }
                        }

                        function fillStars(number) {
                            for (let i = 1; i <= number; i++) {
                                document.getElementById('reviewStar'+i).style.color = 'var(--pink)';
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>

    <div style="padding-top:15px">
        <center>
            <h1 style="padding-left:20px; padding-top:20px" class="listMenuTitle">REVIEWS</h1>
            <div class="row justify-content-around" style="width:50%; padding-top:15px">
                <div class="freeWidthMenuCard" style="padding:10px; width:500px">
                    <div class="row">
                        <p style="margin-left:10px" class="cardTitle">JOHN DOE</p>
                        <div style="margin-top:15px; margin-left:25px">
                            <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--grey); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--grey); font-size:20px" class="fa fa-star"></i>
                        </div>
                    </div>
                    <p style="margin-top:15px; margin-left:10px" class="reviewScoreText">
                        The flavor was exquisite but I wasn't a fan of the color.
                    </p>
                </div>
                <div class="freeWidthMenuCard" style="padding:10px; width:500px">
                    <div class="row">
                        <p style="margin-left:10px" class="cardTitle">JOHN DOE</p>
                        <div style="margin-top:15px; margin-left:25px">
                            <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--grey); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--grey); font-size:20px" class="fa fa-star"></i>
                        </div>
                    </div>
                    <p style="margin-top:15px; margin-left:10px" class="reviewScoreText">
                        The flavor was exquisite but I wasn't a fan of the color.
                    </p>
                </div>
            </div>

            <div class="row justify-content-around" style="width:50%; padding-top:15px">
                <div class="freeWidthMenuCard" style="padding:10px; width:500px">
                    <div class="row">
                        <p style="margin-left:10px" class="cardTitle">JOHN DOE</p>
                        <div style="margin-top:15px; margin-left:25px">
                            <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--grey); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--grey); font-size:20px" class="fa fa-star"></i>
                        </div>
                    </div>
                    <p style="margin-top:15px; margin-left:10px" class="reviewScoreText">
                        The flavor was exquisite but I wasn't a fan of the color.
                    </p>
                </div>
                <div class="freeWidthMenuCard" style="padding:10px; width:500px">
                    <div class="row">
                        <p style="margin-left:10px" class="cardTitle">JOHN DOE</p>
                        <div style="margin-top:15px; margin-left:25px">
                            <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--grey); font-size:20px" class="fa fa-star"></i>
                            <i style="color:var(--grey); font-size:20px" class="fa fa-star"></i>
                        </div>
                    </div>
                    <p style="margin-top:15px; margin-left:10px" class="reviewScoreText">
                        The flavor was exquisite but I wasn't a fan of the color.
                    </p>
                </div>
            </div>

        </center>
    </div>

    <!-- End of body content specific to page -->
</div>
</body>

</html>