<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>...</title>
</head>
<body>
    <!-- Begin navigation fragments -->
    <nav class="navbar navbar-expand-lg" style="background-color:#ff5bff; overflow:hidden;min-width:100%;z-index:100" th:fragment="header">
        <a class="navbar-brand" style="font-family:'Luckiest Guy'; color:white; font-size:2em;text-shadow:0px 0px 5px black" href="/">
            <img src="/static/images/ncs_logo.png" th:src="@{/images/donut.png}" width="50" height="50" class="d-inline-block align-center" alt="">
            DONUT DICTIONARY
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Bootstrap menus -->
        <div class="collapse navbar-collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link navbarLink py-0" style="text-shadow: 0px 0px 5px black;" href="/">DONUTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbarLink py-0" style="text-shadow: 0px 0px 5px black;" href="/minilabs">MINILABS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbarLink py-0" style="text-shadow: 0px 0px 5px black;" href="/about">ABOUT</a>
                </li>
            </ul>

        </div>
    </nav>
    <!-- Begin navigation fragments -->
</body>
</html>