<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>...</title>
</head>
<body>
    <!-- Begin navigation fragments -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:var(--pink);min-width:100%;z-index:100" th:fragment="header">
        <a class="navbar-brand" style="font-family:'Luckiest Guy'; color:white; font-size:2em;text-shadow:0px 0px 5px black" href="/">
            <img src="/static/images/donut.png" th:src="@{/images/donut.png}" width="50" height="50" class="d-inline-block align-center" alt="">
            &nbsp;DONUT DICTIONARY
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Bootstrap menus -->
        <div class="collapse navbar-collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link navbarLink py-0" style="color:white;text-shadow: 0px 0px 5px black;margin-top:8px" href="/">DONUTS</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navbarLink" style="color:white;text-shadow: 0px 0px 5px black" href="#" id="navbarMINILABS" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        MINILABS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" style="color:black" href="/kevin">Kevin</a>
                        <a class="dropdown-item" style="color:black" href="/ak">Ak</a>
                        <a class="dropdown-item" style="color:black" href="/navodit">Navodit</a>
                        <a class="dropdown-item" style="color:black" href="/eshaan">Eshaan</a>
                        <a class="dropdown-item" style="color:black" href="/eshaan">Data</a>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbarLink py-0" style="color:white;text-shadow: 0px 0px 5px black;;margin-top:8px" href="/about">ABOUT</a>
                <li class="nav-item">
                    <a class="nav-link navbarLink py-0" style="color:white;text-shadow: 0px 0px 5px black;;margin-top:8px" href="/binary">Binary</a>
                <li class="nav-item">
                    <a class="nav-link navbarLink py-0" style="color:white;text-shadow: 0px 0px 5px black;;margin-top:8px" href="/contacts">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbarLink py-0" style="color:white;text-shadow: 0px 0px 5px black;;margin-top:8px" href="/leaderboard/topten">Leaderboard</a>
                </li>
            </ul>

        </div>
    </nav>
    <!-- Begin navigation fragments -->
</body>
</html>