body, html {padding: 0; margin: 0; overflow-x: hidden; height: 100%;}

.colors {
    --background: #282a36;
    --selected: #44475a;
    --foreground: #f8f8f2;
    --comment: #5575ef;
    --cyan: #8be9fd;
    --green: #26c5e8;
    --orange: #ffb86c;
    --pink: #bd93f9;
    --red: #bd93f9;
    --yellow: #f1fa8c;
}

#colContainer {
    width: 120%;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.noteContainer {
    height: auto;
    width: 50%;
    border-radius: 25px;
    background-color: var(--selected);
    color: var(--green);
    padding: 25px;
    display: inline-grid;
    margin: 1%;
    animation: slide-up 0.4s ease;
    overflow:hidden;
}
.noteContainer::-webkit-scrollbar {display: none;}
.noteContainer {-ms-overflow-style: none;scrollbar-width: none;}

.note {
    width: 250px;
    height: auto;
    border-radius: 13px;
    background-color: var(--comment);
    margin: 5px;
    padding: 5px;
    float: left;
    animation: slide-up 0.2s ease;
}

.minimize {
    height: 0 !important;
}

.textarea, .input {
    background-color: transparent;
    border: none;
}
.textarea:focus,.input:focus {outline: none;}

.textarea {
    height: 194px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    resize: none;
}

.kan-button {
    font-family: "Luckiest Guy";
    height:27px;
    width:27px;
    padding:0px 5px 5px 5px !important;
    border-radius: 14px !important;
}



.btn-outline-light:hover {
    color: var(--comment) !important;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}