<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>About</title>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    Hello, World!
    About page.
    <!-- End of body content specific to page -->
    <section>
        <h1>Ak</h1>
        <p>Ak was here</p>
    </section>

    <section>
        <h1>Eshaan</h1>
        <p>Eshaan was here</p>
    </section>
    <section>
        <h1>Navodit</h1>
        <p>Navodit was here</p>
    </section>

    <section>
        <h1>Kevin </h1>
        <p>Kevin was here</p>
    </section>


</html>


</div></body>

</html>