<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>Twitter API</title>
    </div>

</head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>
<div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div style="padding-top:10px;padding-left:10px">
        <h1 style="color:white"><strong>Twitter API</strong></h1>
        <form action="/api" method="GET" id="twitterForm">
            <button style="width:200px" class="reviewSubmit">Refresh!</button>
        </form>
    </div>

    <div style="padding-top:10px;padding-left:10px">
        <hr>
        <table style="color:white;" border="1">
            <tr>
                <th>Author</th>
                <th>Tweets</th>
                <th>Retweets</th>
            </tr>
            <tr th:each="tweet : ${tweets}">
                <td th:text="${tweet.user_screen_name}"></td>
                <td th:text="${tweet.text}"></td>
                <td th:text="${tweet.retweet_count}"></td>
            </tr>
            </tr>
        </table>


        </table>
    </div>
    <script th:inline="javascript">
        const news = [[${tweets}]]
        console.log(news)
    </script>

    <!-- end of body content specific to page -->
</div>
</body>
</html>