<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Contact Directory</title>
    <style>
      table,
      th,
      td {
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>

  </head>
  <body>
    <h3>Contact Directory</h3>
    <hr>
      <table border="1">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="tempContacts:${contacts}">
            <td th:text="${tempContacts.firstName}"></td>
            <td th:text="${tempContacts.lastName}"></td>
            <td th:text="${tempContacts.phoneNumber}"></td>
            <td th:text="${tempContacts.email}"></td>
          </tr>


        </tbody>
</table>
</body>
</html>