<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>Contact List</title>
    </div>
</head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>
<div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page --><!DOCTYPE html>
    <div style="padding-top:10px;padding-left:10px">
    <h3 class="cardTitle">Contact Directory</h3>
    <hr>
    <table style="color:white" border="1">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempContacts:${contacts}">
            <td th:text="${tempContacts.firstName}"></td>
            <td th:text="${tempContacts.lastName}"></td>
            <td th:text="${tempContacts.phoneNumber}"></td>
            <td th:text="${tempContacts.email}"></td>
        </tr>


        </tbody>
    </table>
    </div>
</div>
</body>
</html>