<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Donut Dictionary</title>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->

    <div>
        <h1 style="padding-left:15px; padding-top:10px" class="listMenuTitle">FAN FAVORITES</h1>
        <div class="row flex-nowrap listMenu" style="overflow-wrap:normal;white-space:nowrap">
            <div class="listMenuCard row" style="margin-left:10px;margin-right:10px;">
                <img src="/static/images/burnt_donut.png" th:src="@{/images/burnt_donut.png}" class="imgSquareCrop listMenuImg">
                <div style="padding-top:20px">
                    <p class="cardTitle">BURNT DONUT</p>
                    <div class="row">
                        <p class="reviewScoreText" style="padding-right:20px">4.2</p>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--tan); font-size:20px" class="fa fa-star"></i>
                    </div>
                    <div style="width:200px;overflow-wrap: break-word;" class="row">
                        <p class="tagText">charcoal</p>
                        <p class="tagText">smoke</p>
                        <p class="tagText">ash</p>
                    </div>
                </div>
            </div>

            <div class="listMenuCard row" style="margin-left:10px;margin-right:10px;">
                <img src="/static/images/burnt_donut.png" th:src="@{/images/burnt_donut.png}" class="imgSquareCrop listMenuImg">
                <div style="padding-top:20px">
                    <p class="cardTitle">BURNT DONUT</p>
                    <div class="row">
                        <p class="reviewScoreText" style="padding-right:20px">4.2</p>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--tan); font-size:20px" class="fa fa-star"></i>
                    </div>
                    <div style="width:200px;overflow-wrap: break-word;" class="row">
                        <p class="tagText">charcoal</p>
                        <p class="tagText">smoke</p>
                        <p class="tagText">ash</p>
                    </div>
                </div>
            </div>

            <div class="listMenuCard row" style="margin-left:10px;margin-right:10px;">
                <img src="/static/images/burnt_donut.png" th:src="@{/images/burnt_donut.png}" class="imgSquareCrop listMenuImg">
                <div style="padding-top:20px">
                    <p class="cardTitle">BURNT DONUT</p>
                    <div class="row">
                        <p class="reviewScoreText" style="padding-right:20px">4.2</p>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--tan); font-size:20px" class="fa fa-star"></i>
                    </div>
                    <div style="width:200px;overflow-wrap: break-word;" class="row">
                        <p class="tagText">charcoal</p>
                        <p class="tagText">smoke</p>
                        <p class="tagText">ash</p>
                    </div>
                </div>
            </div>

            <div class="listMenuCard row" style="margin-left:10px;margin-right:10px;">
                <img src="/static/images/burnt_donut.png" th:src="@{/images/burnt_donut.png}" class="imgSquareCrop listMenuImg">
                <div style="padding-top:20px">
                    <p class="cardTitle">BURNT DONUT</p>
                    <div class="row">
                        <p class="reviewScoreText" style="padding-right:20px">4.2</p>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--tan); font-size:20px" class="fa fa-star"></i>
                    </div>
                    <div style="width:200px;overflow-wrap: break-word;" class="row">
                        <p class="tagText">charcoal</p>
                        <p class="tagText">smoke</p>
                        <p class="tagText">ash</p>
                    </div>
                </div>
            </div>

            <div class="listMenuCard row" style="margin-left:10px;margin-right:10px;">
                <img src="/static/images/burnt_donut.png" th:src="@{/images/burnt_donut.png}" class="imgSquareCrop listMenuImg">
                <div style="padding-top:20px">
                    <p class="cardTitle">BURNT DONUT</p>
                    <div class="row">
                        <p class="reviewScoreText" style="padding-right:20px">4.2</p>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--tan); font-size:20px" class="fa fa-star"></i>
                    </div>
                    <div style="width:200px;overflow-wrap: break-word;" class="row">
                        <p class="tagText">charcoal</p>
                        <p class="tagText">smoke</p>
                        <p class="tagText">ash</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div style="padding-top: 20px"></div>

    <div>
        <h1 style="padding-left:15px; padding-top:10px" class="listMenuTitle">LEAST-LIKED LIST</h1>
        <div class="row flex-nowrap listMenu" style="overflow-wrap:normal;white-space:nowrap">
            <div class="listMenuCard row" style="margin-left:10px;margin-right:10px;">
                <img src="/static/images/burnt_donut.png" th:src="@{/images/burnt_donut.png}" class="imgSquareCrop listMenuImg">
                <div style="padding-top:20px">
                    <p class="cardTitle">BURNT DONUT</p>
                    <div class="row">
                        <p class="reviewScoreText" style="padding-right:20px">4.2</p>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--tan); font-size:20px" class="fa fa-star"></i>
                    </div>
                    <div style="width:200px;overflow-wrap: break-word;" class="row">
                        <p class="tagText">charcoal</p>
                        <p class="tagText">smoke</p>
                        <p class="tagText">ash</p>
                    </div>
                </div>
            </div>

            <div class="listMenuCard row" style="margin-left:10px;margin-right:10px;">
                <img src="/static/images/burnt_donut.png" th:src="@{/images/burnt_donut.png}" class="imgSquareCrop listMenuImg">
                <div style="padding-top:20px">
                    <p class="cardTitle">BURNT DONUT</p>
                    <div class="row">
                        <p class="reviewScoreText" style="padding-right:20px">4.2</p>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--tan); font-size:20px" class="fa fa-star"></i>
                    </div>
                    <div style="width:200px;overflow-wrap: break-word;" class="row">
                        <p class="tagText">charcoal</p>
                        <p class="tagText">smoke</p>
                        <p class="tagText">ash</p>
                    </div>
                </div>
            </div>

            <div class="listMenuCard row" style="margin-left:10px;margin-right:10px;">
                <img src="/static/images/burnt_donut.png" th:src="@{/images/burnt_donut.png}" class="imgSquareCrop listMenuImg">
                <div style="padding-top:20px">
                    <p class="cardTitle">BURNT DONUT</p>
                    <div class="row">
                        <p class="reviewScoreText" style="padding-right:20px">4.2</p>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--tan); font-size:20px" class="fa fa-star"></i>
                    </div>
                    <div style="width:200px;overflow-wrap: break-word;" class="row">
                        <p class="tagText">charcoal</p>
                        <p class="tagText">smoke</p>
                        <p class="tagText">ash</p>
                    </div>
                </div>
            </div>

            <div class="listMenuCard row" style="margin-left:10px;margin-right:10px;">
                <img src="/static/images/burnt_donut.png" th:src="@{/images/burnt_donut.png}" class="imgSquareCrop listMenuImg">
                <div style="padding-top:20px">
                    <p class="cardTitle">BURNT DONUT</p>
                    <div class="row">
                        <p class="reviewScoreText" style="padding-right:20px">4.2</p>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--tan); font-size:20px" class="fa fa-star"></i>
                    </div>
                    <div style="width:200px;overflow-wrap: break-word;" class="row">
                        <p class="tagText">charcoal</p>
                        <p class="tagText">smoke</p>
                        <p class="tagText">ash</p>
                    </div>
                </div>
            </div>

            <div class="listMenuCard row" style="margin-left:10px;margin-right:10px;">
                <img src="/static/images/burnt_donut.png" th:src="@{/images/burnt_donut.png}" class="imgSquareCrop listMenuImg">
                <div style="padding-top:20px">
                    <p class="cardTitle">BURNT DONUT</p>
                    <div class="row">
                        <p class="reviewScoreText" style="padding-right:20px">4.2</p>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--pink); font-size:20px" class="fa fa-star"></i>
                        <i style="color:var(--tan); font-size:20px" class="fa fa-star"></i>
                    </div>
                    <div style="width:200px;overflow-wrap: break-word;" class="row">
                        <p class="tagText">charcoal</p>
                        <p class="tagText">smoke</p>
                        <p class="tagText">ash</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- End of body content specific to page -->
</div></body>

</html>