<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title> Please put inputs for the devolopers </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/input.css" th:href="@{/css/input.css}" media="all" />
    <!-- End of head content specific to page -->
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body class="colors"><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div id="spring_intro" class="articles" style="margin: 30px;">
        <div>
            <h1><strong>Input page: Addition of donuts and comments to coders</strong></h1>
            <button type="button" class="btn btn-secondary" data-toggle="modal" onclick="addColumn()">+ Add suggestion </button>
        </div>
        <div id="colContainer">

            <template id="nc-template">
                <div id="noteContainer" class="noteContainer">
                    <div style="overflow:hidden;">
                        <button style="float: right; margin: 1px;" type="button" class="btn btn-outline-danger btn-small kan-button" data-toggle="modal" onclick="deleteColumn(this)">-</button>
                        <div style="float: left; position:relative;">
                            <h4><input class="input noteContainerTitle" style="width: 310px;position:absolute; color:var(--green);" placeholder="Add comments :)"></h4>
                        </div>
                    </div>
                    <div style="overflow-wrap: normal;"></div>
                </div>
            </template>


        </div>
        </template>

    </div>


    <script src="./js/kanban.js" th:src="@{/js/kanban.js}"></script>

</div>
<!-- End of body content specific to page -->
</div></body>

</html>